* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  margin: 0 auto;
}
.head-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.bistro {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: rgba(37, 43, 66, 1);
}

.nav-ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgba(115, 115, 115, 1);
}
.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#login-reg {
  text-decoration: none;
  color: rgba(35, 166, 240, 1);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding-right: 10px;
}
.seee {
  display: flex;
  flex-direction: row;
  width: 166px;
  gap: 10px;
}
.icon-div {
  display: flex;
  gap: 10px;
}
#shop {
  border: none;
}
/* FIRST SECTION HERO SECTION */
.firstsection-hero {
  background-image: url("images/backk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  min-width: 1150px;
  margin: 0 auto;
}
.first-section {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.firstsection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 701px;
  height: 554px;
}

.first-h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.first-p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  opacity: 0.8;
  color: rgba(255, 255, 255, 1);
}
.btn {
  background-color: rgba(35, 166, 240, 1);
  color: white;
  padding: 15px 40px;
  width: 204;
  height: 62;
  opacity: 1;
  gap: 10px;
  border-radius: 5px;
  border: none;
}

/* SECOUND SECTION ITEM SECTION */
.second-section {
  background-color: rgba(250, 250, 250, 1);
}
.secound-divsection {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 1049px;
  margin: 0 auto;
  /* flex-wrap: wrap; */
}

.item1 {
  background-image: url("images/media bg-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 332px;
  height: 232px;
  border: 1px solid rgba(236, 236, 236, 1);
}

.item2 {
  background-image: url("images/apple.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 333px;
  height: 232px;
  border: 1px solid rgba(236, 236, 236, 1);
}
.item3 {
  background-image: url("images/meal.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 333px;
  height: 232px;
  border: 1px solid rgba(236, 236, 236, 1);
  background-color: rgba(255, 255, 255, 1);
}

.item1 p {
  color: rgba(115, 115, 115, 1);
  width: 81;
  height: 20;
  opacity: 1;
  padding-top: 46px;
  padding-left: 27px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.item1 h3 {
  width: 94px;
  height: 64px;
  opacity: 1;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  padding-left: 27px;
  padding-top: 20px;
}
.item1 h6 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-left: 27px;
  width: 86;
  height: 16px;
  padding-top: 35px;
  color: rgba(37, 43, 66, 1);
}
.item2 p {
  width: 83;
  height: 24px;
  padding-top: 53px;
  padding-left: 40px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: rgba(115, 115, 115, 1);
}
.item2 h2 {
  width: 115px;
  height: 64px;
  padding-top: 35px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: rgba(37, 43, 66, 1);
}
.item2 h6 {
  width: 86%;
  padding-left: 40px;
  padding-top: 50px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(37, 43, 66, 1);
}
.item3 p {
  width: 83;
  height: 24px;
  padding-top: 53px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
  color: rgba(115, 115, 115, 1);
}
.item3 h2 {
  width: 115px;
  height: 24px;
  padding-top: 40px;
  padding-left: 45px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: rgba(37, 43, 66, 1);
}
.item3 h6 {
  width: 86%;
  height: 16px;
  padding-top: 70px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(37, 43, 66, 1);
}
/*   EMMA STYLES THIRD SECTION IN THE BODY */
.container {
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: 1077px;
  /* height: 895px; */
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  padding-bottom: 50px;
}
.container2 {
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: 1077px;
  height: 796px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 30px;
  margin-top: 50px;
  justify-content: center;
}
.sidebar {
  background: url(images/card-cover-5.png);
  border: #8ec2f2 solid;
  width: 389px;
  height: 700px;
  padding: 40px;
  margin-right: 50px;
  line-height: 1px;
}
.sidebar-content .category {
  font-weight: bold;
  font-size: 14px;
}

.side {
  background: url(images/card-cover-5.jpg);
  border: #8ec2f2 solid;
  background-position: cover;
  width: 389px;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 500px; */
  padding: 40px;
  margin-left: 50px;
}
.prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px;
  margin-left: 120px;
  gap: 30px;
  margin-bottom: 700px;
  font-family: "Montserrat", sans-serif;
}

.prod h2 {
  font-size: 24px;
  color: var(--text-dark);
  text-align: right;
  font-family: "Monserrat" sans-serif;
}

.prod nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-gray);
  font-weight: bold;
  font-family: "Monserrat" sans-serif;
}

.prod nav a.active {
  color: #23a6f0;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px;
  margin-left: 10px;
}

.product-header h2 {
  font-size: 24px;
  color: var(--text-dark);
}

.product-header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-gray);
  font-weight: bold;
}

.product-header nav a.active {
  color: #23a6f0;
}
.prod-grid {
  display: grid;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2 1fr);
  gap: 30px;
  line-height: 20px;
}

.product-card {
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 16px;
  color: var(--text-dark);
  margin-bottom: 5px;
}

.department {
  color: var(--text-gray);
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
  font-family: "Monserrat" sans-serif;
}

.od-price {
  color: #bdbdbd;
  text-decoration: line-through;
  margin-right: 20px;
  font-size: 16px;
}

.ne-price {
  color: var(--price-green);
  font-weight: bold;
  font-size: 16px;
}
.unsplash-img {
  width: 100%;
  height: 700px;
}


/* EMMA SECOUND AND THE REST SECTION STYLES---*/

.second-section-container {
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: 401px;
  /* corrected section height from 649px to 880px */
  /* height: 880px; */
  /* padding-top: 10px; */
  padding-bottom: 80px;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 20px;
  justify-content: center;
}
.second-container {
  background-color: #fafafa;
  justify-content: center;
  width: 401px;
  gap: 30px;
  opacity: 1;
  padding-top: 80px;
  padding-bottom: 80px;
}
.ssc-cont{
  display: flex;
  width:1069px ;
  
}

ssc-2 .ssc-p {
  width: 280px;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgba(115, 115, 115, 1);
}
.ssc-h3 {
  opacity: 1;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(37, 43, 66, 1);
}
.ssc-a {
  width: 146px;
  height: 24px;
  opacity: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgba(37, 43, 66, 1);
}

.printed-summer-dress {
  margin: 0, auto;
  margin-top: 37px;
  margin-bottom: 37px;
  justify-content: center;
}
.second-text-section {
  margin-left: 20px;
  text-align: center;
}
.amount-footer {
  display: flex;
  width: 108px;
  height: 34px;
  gap: 5px;
  padding: 5px 3px;
  justify-content: center;
  margin: 0 auto;
  /* margin-left: 20px;  */
}
.second-footer-section {
  text-align: center;
}
.flex-section {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
small {
  font-size: 12px;
  color: #737373;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Montserrat", sans-serif;
}
.h6 {
  font-size: 14px;
  color: #252b42;
  letter-spacing: 0.2px;
  font-family: "Montserrat", sans-serif;
}
.span-num {
  margin-top: 10px;
}
.footer-container {
  display: flex;
  padding: 20px, 40px, 20px, 40px;
  justify-content: space-between;
  width: 1066px;
  margin: 0 auto;
}

.obtain-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 30px;
}
.obtain-section-container {
  margin-top: 80px;
}

.button-div1 {
  display: flex;
  border: #23a6f0 solid;
  background-color: #23a6f0;
  border-radius: 100%;
  width: 5px;
  height: 5px;
}
.button-flex-div {
  display: flex;
  gap: 5px;
  margin: 0, auto;
  justify-content: center;
}
.button-div2 {
  display: flex;
  border: #23856d solid;
  background-color: #23856d;
  border-radius: 100%;
  width: 5px;
  height: 5px;
}
.button-div3 {
  display: flex;
  border: #e77c40 solid;
  background-color: #e77c40;
  border-radius: 100%;
  width: 5px;
  height: 5px;
}
.button-div4 {
  display: flex;
  border: #252b42 solid;
  background-color: #252b42;
  border-radius: 100%;
  width: 5px;
  height: 5px;
}
.vector-sign {
  width: 7px;
  height: 11px;
  color: #737373;
}
.sales {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.button-arrow {
  border-radius: 100%;
  background-color: #ffffff;
  color: #737373;
  border-color: #737373;
}
.h3-text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.p-text {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.img-container {
  width: 674px;
  justify-content: center;
}
/* ENDS HERE  */
/*  ---BEST PRODUCTS---SECTION */
.product-section {
  color: rgba(250, 250, 250, 1);
}
.topic-div {
  width: 1040px;
  margin: 0 auto;
}
.line {
  border-bottom: 2px solid rgba(236, 236, 236, 1);
  width: 1040px;
  margin: 0 auto;
  height: 2px;
  padding-top: 20px;
}
.product-topic {
  opacity: 1;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: rgba(37, 43, 66, 1);
}
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1040px;
  gap: 30px;
  padding-top: 20px;
}
.product-topic {
  opacity: 1;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: rgba(37, 43, 66, 1);
}
.product-div {
  width: 239px;
}
.product-img {
  width: 100%;
}
.product-content {
  width: 239px;
  height: 162px;
  max-height: 162px;
  max-width: 239px;
  opacity: 1;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  padding-left: 25px;
  display: grid;
  gap: 10px;
}

.product-h4 {
  width: 131px;
  height: 24px;
  opacity: 1;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(37, 43, 66, 1);
}
.product-h5 {
  height: 24;
  opacity: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(115, 115, 115, 1);
}
.price-div {
  display: flex;
  width: 120px;
  height: 34px;
  opacity: 1;
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 3px;
  gap: 5px;
}
.old-price {
  width: 52px;
  height: 24;
  opacity: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(189, 189, 189, 1);
}
.new-price {
  width: 45px;
  height: 24px;
  opacity: 1;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(35, 133, 109, 1);
}
/* IMAGES SECTION */
.images-section {
  background-color: rgba(250, 250, 250, 1);
  width: 100%;
  max-width: 100%;
}
.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1054px;
  margin: 0 auto;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* PRAcTICE ADVICE - FEATURED POST SECTION */

.featured-section {
  padding: 112px 0;
}
.featured-cards {
  display: flex;
  justify-content: center;
  width: 1050px;
  margin: 0 auto;
  gap: 20px;
}
.maincontent-text {
  display: grid;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.pratice-advice {
  color: rgba(35, 166, 240, 1);
  font-weight: 700;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  opacity: 1;
}

.featured-h2 {
  font-size: 34px;
  opacity: 1;
  color: rgba(37, 43, 66, 1);
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
  /* margin-bottom:40px; */
}

.ft-card {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 328px;
}
.box1 {
  background-image: url(images/ROAD.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: relative;
}
.new {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff4d4d;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.content {
  padding: 25px 25px 35px 10px;
  gap: 10px;
  width: 348px;
  opacity: 1;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  padding-left: 25px;
  gap: 10px;
}
.topics {
  display: flex;
  gap: 30px;
}
.google {
  width: 45px;
  height: 16px;
  opacity: 1;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(142, 194, 242, 1);
}
.trending {
  width: 56px;
  height: 16px;
  opacity: 1;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(115, 115, 115, 1);
}
.h5-new {
  opacity: 1;
  color: rgba(115, 115, 115, 1);
  line-height: 16px;
  letter-spacing: 0.2px;
  font-size: 12px;
  font-weight: 400;
}
.sub-topic {
  width: 247px;
  height: 60px;
  opacity: 1;
  font-weight: 4;
  color: rgba(37, 43, 66, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.sub-p {
  width: 280px;
  width: 280;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.date-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.dt {
  display: flex;
  gap: 5px;
}

.dateh4 {
  opacity: 1;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgba(115, 115, 115, 1);
}

.learn {
  width: 85px;
  opacity: 1;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(115, 115, 115, 1);
}
.img-learn {
  vertical-align: middle;
  padding-left: 5px;
  color: rgba(35, 166, 240, 1);
}

/* FOOTER SECTION */
.footer-section {
  background-color: rgba(37, 43, 66, 1);
}

.foot-container {
  background-color: rgba(37, 43, 66, 1);
  width: 1150px;
  margin: 0 auto;
}
.first-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: white;
  width: 1050px;
  max-width: 1050px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.foot-btn {
  padding: 15px 40px;
  background-color: rgba(35, 166, 240, 1);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.secound-footer {
  display: flex;
  justify-content: space-between;
  /* gap: 70px; */
  margin: auto;
  width: 1050px;
  max-width: 1050px;
  width: 1050px;
  opacity: 1;
  left: 195px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.last-footer {
  display: flex;
  display: flex;
  justify-content: space-between;
  /* gap: 70px; */
  margin: auto;
  width: 1050px;
  max-width: 1050px;
  /* height: 270; */
  opacity: 1;
  left: 195px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.last-icons {
  display: flex;
  gap: 20px;
}
.footer-textp1 {
  display: grid;
  gap: 10px;
}
.first-ft3 {
  /* width: 454px; */
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.firstp {
  /* width: 272; */
  opacity: 1;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  columns: rgba(255, 255, 255, 1);
}
.foot-subheading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 1);
}
.foot-ull {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.2px;
  font-size: 14px;
}

.lastfoot-h6 {
  opacity: 1;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 1);
}

  